@import "tailwindcss";

/* Hide scrollbar in WebKit browsers */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar in IE, Edge, and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .custom-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-image: url("/assets/projectproducts/dropdown/dropdown-svg.svg"); */
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5rem) center;
    background-size: 1rem;
  }

  
  